<!DOCTYPE html>
<html data-bs-theme="dark"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <section th:fragment="listPerson" id="clientes">
        <div class="container ">
            <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header">
                            <h4>[[#{persona.titulo-list}]]</h4>
                        </div>
                        <div th:if="${personas != null and !personas.empty}">
                            <table class="table table-stryped">
                                <thead class="thead-dark">
                                <tr>
                                  <th class="col-md-3">[[#{persona.nombre}]]</th>
                                  <th class="col-md-2">[[#{persona.email}]]</th>
                                  <th class="col-md-2">[[#{persona.telefono}]]</th>
                                    <th class="col-md-1" sec:authorize="hasRole('ROLE_ADMIN')"></th>
                                    <th class="col-md-1" sec:authorize="hasRole('ROLE_ADMIN')"></th>
                                </tr>
                                <tr th:each="persona : ${personas}">
                                  <td class="col-md-3">[[${persona.nombre} + ' ' + ${persona.apellido}]]</td>
                                  <td class="col-md-2" th:text="${persona.email}">Email</td>
                                  <td class="col-md-2" th:text="${persona.telefono}">Telefono</td>
                                  <td class="col-md-1" sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/editar/} + ${persona.idpersona}" class="btn btn-secondary"><i class="fas fa-angle-double-right"></i> [[#{accion.editar}]]</a></td>
                                  <td class="col-md-1" sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/eliminar/} + ${persona.idpersona}" class="btn btn-danger"><i class="fas fa-trash"></i> [[#{accion.eliminar}]]</a></td>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <div class="card text-center bg-secondary text-white mb-2">
                        <div class="card-body">
                            <h3 th:text="#{persona.totalPersonas}">Total de usuarios</h3>
                            <h4 class="display-3"><i class="fas fa-users"></i> [[${totalPersonas}]]</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>